[submodule "Parser/vendor/spdlog"]
	path = Parser/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Parser/vendor/cxxtimer"]
	path = Parser/vendor/cxxtimer
	url = https://github.com/andremaravilha/cxxtimer
